# ignore the python virtual environment 
venv/

# ignore personal IDE related configurations
.idea/

# ignore all the compiled code
*.pyc

# ignore all log files
*.log

# ignore pycache initiations
__pycache__/

# ignore test file on local machine
tests/test.py
