# ignore the python virtual environment 
venv/

# ignore personal IDE related configurations
.idea/

# ignore all the compiled code
*.pyc

# ignore all log files
*.log

# ignore pycache initiations
__pycache__/

# ignore the benchmarking data generated for pysolv optimization
pysolv_benchmarks/

# ignore any matrix market files used for testing purposes
*.mtx

# ignore local machine build
build/
*egg-info/
wheelhouse/


# ignore any fortran binaries built in the local machine
*.so