# ignore the python virtual environment 
venv/

# ignore personal IDE related configurations
.idea/

# ignore all the compiled code
*.pyc

# ignore all log files
*.log

# ignore pycache initiations
__pycache__/

# ignore the benchmarking data generated for pysolv optimization
pysolv_benchmarks/